@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');

@keyframes header_anim {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 700;
}

p {
  display: block;
  margin-top: -1em;
  position: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.header__title {
  transform: translateX(0);
  animation-name: header_anim;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, 0.2, 0.4, 1.2);
  text-transform: uppercase;
  color: #fff;
  align-self: center;
}

.article {
  position: relative;
  min-height: 90vh;
  padding: 0 50px;
}

.main{
  margin:0 auto;
  width:100%;
  max-width:1700px;
}

.inline div {
  display:inline-block;
  display: -moz-inline-stack;
  vertical-align:top;
  font-size:22px;
}

div.inline {font-size:0;}

.work, 
.face, 
.projects {
  height:300px;
  width:33%
}

div.face{
  text-align: center;
}

div.face img {
  max-width:90%;
  margin: 10px 60px 60px 10px;
}

.black {
  color: #193a4a;
}

.white {
  color: #fff;
}

.normal {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400i;
}

.iframe title <
font-family: 'Open Sans', sans-serif;
>
